<!DOCTYPE html>
<html>
	<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="/javascripts/echarts-2.2.7/build/dist/echarts-all.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	<body>
		 <header>
    		 <h1><img src="../images/txt.png"></h1>
    		 <ul>
    		 		<li><a href="./">首页</a></li>
    		 		<li><a href="./table">数据图表</a></li>
    		 		<li class="active"><a href="./gis">GIS地图</a></li>
    		 		<li><a href="./demo">信息图</a></li>
    		 		<li><a href="./project">可视化专题</a></li>
    		 		<li><a href="./about">联系我们</a></li>
    		 </ul>
    </header>
		<div class="cont">
    	<section class="cont-left">
    		<ul>
				<% for(var i=0; i<gisList.length; i++) {%>
				   <li><a href=""><%= gisList[i] %></a></li>
				<% } %>
			</ul>
    	</section>
    	<div class="cont-right" >
    		  <div id="main" style="height:400px"></div>
    	</div>
    </div>
	</body>
</html>
