<!DOCTYPE html>
<html>

	<head>
		<title>
			<%= title %>
		</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/awesome.css' />
		<!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
	</head>

	<body style="background: #fffafa;">
		<header>
			<h1><img src="../images/txt.png"></h1>
			<ul>
				<li class="active">
					<a href="./">首页</a>
				</li>
				<li>
					<a href="./table">数据图表</a>
				</li>
				<li>
					<a href="./gis">GIS地图</a>
				</li>
				<li>
					<a href="./demo">信息图</a>
				</li>
				<li>
					<a href="./project">可视化专题</a>
				</li>
				<li>
					<a href="./about">联系我们</a>
				</li>
			</ul>
		</header>
		<div class="cont index" id="index_router">
			<ul>
				<li class="active left">
					<a href="./table">
						<img src="../images/index_01.png">
						<div class="zhezhao">
							<p>主要以柱状图、饼状图、折线图<br />、环状图等数据图表展示</p>
						</div>
					</a>
				</li>
				<li class="right">
					<a href="./gis">
					<img src="../images/index_02.png">
						<div class="zhezhao">
							<p>主要以柱状图、饼状图、折线图<br />、环状图等数据图表展示</p>
						</div>
					</a>
				</li>
				<li class="left">
					<a href="./demo">
						<img src="../images/index_03.png">
						<div class="zhezhao">
							<p>主要以柱状图、饼状图、折线图<br />、环状图等数据图表展示</p>
						</div>
					</a>
				</li>
				<li class="right">
					<a href="./project">
						<img src="../images/index_04.png">
						<div class="zhezhao">
							<p>主要以柱状图、饼状图、折线图<br />、环状图等数据图表展示</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		
		<script src="/javascripts/jquery-1.11.0.js"></script>
		<script src="/javascripts/echarts-2.2.7/build/dist/echarts-all.js"></script>
		<script src="/javascripts/my.js"></script>
	</body>

</html>